[Desktop Entry]
Encoding=UTF-8
Name=Cryptographicanomaly
Comment=Cryptographicanomaly P2P Cryptocurrency
Comment[fr]=Cryptographicanomaly, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cryptographicanomaly, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/cryptographicanomaly-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/cryptographicanomaly128.png
MimeType=x-scheme-handler/cryptographicanomaly;
Categories=Office;
